@model AccSystemMVC.Models.Account
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>Id - @Model.Id</p>
<p>Owner - @Model.Owner</p>
<p>Balance - @Model.Balance</p>
<p>Card Type - @Model.CardType.ToString()</p>
<p>Bonus - @Model.Bonus</p>
<div>
    <a href="/Home/Deposit/@Model.Id">Deposit</a>
    <a href="/Home/Withdraw/@Model.Id">Withdraw</a>
</div>
<div>
    <a href="/Home/Transaction/@Model.Id">Transaction</a>
    <a href="/Home/Close/@Model.Id">Close</a>
</div>
<p><a href="/Home/Index/">Back</a></p>
